@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');
html{
    scroll-behavior: smooth;
}
body{
    margin: 0;
    padding: 0;
    font-family: "Poppins", serif;
}
a{
    text-decoration: none;
    color: #b200b8;
}
a:hover{
    color: #ccc;
}
body{
    background-image: linear-gradient( 111.4deg,  #000000  6.5%, #391b78 93.2% );
    height: 100vh;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    max-width: 400px;
    width: 80%;
    background: rgba(255,255,255,0.1);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.container h2{
    text-align: center;
}
.form-group{
    display: grid;
    gap: 5px;
    margin-bottom: 20px;
}
label{
    font-weight: 600;
    margin-left: 5px;
}
input{
    padding: 10px;
    border: 1px solid #b200b8;
    background: rgba(0,0,0,0.2);
    border-radius: 8px;
    outline: none;
    color: #fff;
}
button{
    padding: 10px 20px;
    font-weight: 600;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    cursor: pointer;
    width: 100%;
    margin: 0 auto;
    border-radius: 10px;
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(178,0,184,1) 0%, rgba(71,0,159,1) 90% );
    color: #fff;
    border: none;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}
button:hover{
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(71,0,159,1)  0%,rgba(178,0,184,1) 90% );
}
.container p{
    text-align: center;
}